* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --grid: 36px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-direction: column; /* change */
  background-color: rgb(16, 58, 59);
  padding: 5%;
}

.simulator {
  width: calc(var(--grid) * 20);
  height: 100%;
  overflow: auto;
  background-image: url("./assets/tile.jpg");
  background-attachment: local;
  border-radius: 4px;
}

.hospital {
  display: flex;
  flex-direction: column;
}

/* general */

.sprite {
  width: var(--grid);
  height: var(--grid);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--grid) / 2);
}

.queue,
.doctor-room,
.sprite,
.entry,
.exit {
  flex-shrink: 0;
}

/* scenery */

.doctors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.entry,
.exit {
  width: calc(var(--grid) * 20);
  height: calc(var(--grid) * 5);
}

.entry {
  background-image: url("./assets/entry.jpg");
}

.exit {
  background-image: url("./assets/exit.jpg");
}
