* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --grid: 56px;
  --gap: 2px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

#root {
  height: 100%;
  width: 100%;
}

.hospital {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  /* overflow: auto; */
  background-color: rgb(16, 58, 59);
  gap: var(--gap);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

/* general */

.sprite {
  width: var(--grid);
  height: var(--grid);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--grid) / 2);
}

/* queues */

.queue {
  background-color: white;
  display: flex;
  width: 400px;
  justify-content: flex-start;
  flex-direction: row-reverse;

  .door--entry {
    margin-right: auto;
  }
}

/* doctor rooms */

.doctor-room {
  display: grid;
  grid-template-columns: repeat(3, var(--grid));
  grid-template-rows: repeat(2, var(--grid));

  > .doctor {
    grid-column-start: 2;
  }
}

.doctor-room--examiner {
  background-color: rgb(95, 211, 140);
}

.doctor-room--physician {
  background-color: rgb(105, 182, 172);
}

/* patients */

.patient-box {
  position: relative;
  opacity: 0.5; /* initial opacity */

  span {
    position: absolute;
    top: 0;
    right: 0;
  }
}
